@font-face {
  font-family: "NorseBold";
  src: url(./font/Norse-Bold.otf) format("opentype");
  font-weight: normal;
}

:root {
  --button-color: #596d48;
  --error-color: #f54242;
  --active-color: #4290f5;
  --input-border: #e5e7eb;
  --main-background: #f2f4f7;
  --general-space: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.side-bar {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo-banner {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 10rem;
  margin-top: 12rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.logo-banner h1 {
  color: #fff;
  font-family: "NorseBold";
  font-size: 4rem;
  height: 50px;
}

.side-bar p {
  color: #fff;
  margin-top: auto;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.credit {
  color: #fff;
}

/* MAIN */

main {
  background-color: var(--main-background);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text {
  display: flex;
  flex-direction: column;
  margin: var(--general-space);
  margin-top: 0;
}

.text h2 {
  margin: 1rem 0;
}

.text h2 span {
  font-style: italic;
}

form {
  background-color: #fff;
  padding: 1rem var(--general-space);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.form-row {
  display: flex;
  gap: 7rem;
  margin: 1.5rem 0;
}

.form-group {
  width: 30%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

form input {
  margin: 0.25rem 0;
  height: 1.75rem;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  padding-left: 0.25rem;
}

#phone-number::-webkit-inner-spin-button,
#phone-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#submit-button {
  margin: 2rem var(--general-space);
  color: #fff;
  background-color: var(--button-color);
  padding: 0.75rem 3rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
}

.message {
  padding: 0 var(--general-space);
}

.message a {
  color: var(--button-color);
  text-decoration: none;
}

/* ADDS */

input:user-invalid {
  border: 1px solid var(--error-color);
}

input:focus {
  outline: none;
  border: 1px solid var(--active-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
